<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health and Fitness Planner</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
    <script src="https://kit.fontawesome.com/27373de14f.js" crossorigin="anonymous"></script>"
    <script src="../public/quote.js"></script>
    <script src="../public/info.js"></script>

</head>
<body>

    <header>
        <h1 class="title">Health and Fitness Planner</h1>
    </header>
    <nav>
        <form>
    
            <a href="./recipes"><h2>Healthy Recipes</h1></a>
                <img src="../public/food.jpg"alt="picture of food" width="95%">
            <a href="./workouts"><h2>Workout Tutorials</h1></a>
                <img src="../public/gym.jpg"alt="picture of food" width="95%">
            <a href="./calender"><h2>Monthly Calender</h2></a>
        </form>
    </nav>

    <form class="info">
        <button onclick="showTextArea();this.hidden=true" type="button" id="getTextBox">User Information</button>
        <div class="wrapper" id="textarea" style="visibility: hidden;">
            <textarea rows="1" cols="1" onkeypress="textTyped()" type="text" id="inputText"></textarea>        
        </div>
        <div class="wrapper" id="infoOutput"></div>
        <button style="visibility: hidden;" id="submit" onclick="postInfo();this.hidden=true" type="button">Post Information</button>
    </form>


    <form class="side" action="/journal" method="POST">
    
            <h2 style="color: rgb(245, 245, 245);">JOURNAL</h2>
            <textarea name="entry" type="text" style="white-space: pre-wrap;"></textarea><br>
            <button onclick="postJournal">SUBMIT</button>

    </form>



    <br>
    <br>
    
    <section class=quote>
        <h1 class=quoteHeading>Motivational Quotes</h1>
        <button onclick="newQuote()" class="quoteBtn">QUOTE</button> <br><br>
        <div class="output" id="quoteOutput"> </div>
    </section>

    <br>
    <br>
    <br>

    <footer>
        <a href="mailto:olyanamushe@oakland.edu">
            <i class="fas fa-envelope-open" ></i>
        </a>
        <a href="http://www.instagram.com/olyanam00">
            <i class="fab fa-instagram"></i></a>
        &copy; 2021, Olyana Mushe <br>
    </footer>

</body>


</html>