<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal Entries</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
</head>
<body>
    <h1>Journal Entries</h1>
        <nav>
            <span>
                <a href="/">HomePage</a>
                <a href="./workouts">Workouts</a>
                <a href="./recipes">Recipes</a>
            </span>
        </nav>
        <br>
        <br>
        <br>
    <h3><%=entry%></h3>
    
</body>
</html>