<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Calender</title>
    <link rel="stylesheet" href="../public/stylesheet.css"> 
</head>
<body>
    <header>
        <h1>Monthly workout calender</h1>
        <nav>
            <span>
                <a href="/">HomePage</a>
                <a href="../recipes">Recipes</a>
                <a href="../workouts">Workouts</a>
            </span>
        </nav>
    </header>
    <div class="calendar">
        <table id="calendar_table">
            <caption> 30-Day Workout Challenge </caption>
            <thead>
                <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1 <br>
                        <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                        </span>
                    </td>
                    <td>2 <br>
                        <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>3 <br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                        </span>
                    </td>
                    <td>4<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                    </span>
                </td>
            
                    <td>5<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>

                    <td>6<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                    </span>
                </td>
        
                    <td>7 <br>
                    REST
                </td>

                </tr>

                <tr>
                    <td>8<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>9<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                    </span>
                </td>
                    <td>10<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>11<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                    </span>
                </td>
        
                     
                    <td>12<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>13<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                    </span>
                </td>

                    <td>14<br>
                    REST
                </tr>

                <tr>
                    <td>15<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>16<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                        </span>
                    </td>

                    <td>17<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>18<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                        </span>
                    </td>
 
                    <td>19<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>20<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                    </span>
                </td>

                    <td>21<br>
                    REST
                </td>
                </tr>

                <tr>
                    <td>22<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>23<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                        </span>
                    </td>
   
                    <td>24<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>25<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                        </span>
                    </td>

                    <td>26<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
                    <td>27<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                        </span>
                    </td>

                    <td>28<br>
                    REST
                </td>
                </tr>

                <tr>
                    <td>29<br>
                    <span>
                        <ul class="calender_list">
                            <li>Sit Ups</li>
                            <li>Lunges</li>
                            <li>Burpees</li>
                        </ul>
                        </span>
                    </td>
 
                    <td>30<br>
                    <span>
                        <ul class="calender_list">
                            <li>Jumping Jacks</li>
                            <li>Push Ups</li>
                            <li>Squats</li>
                        </ul>
                    </span>
                </td>
                </tr>
                    
            </tbody>
        </table>


        <footer>
            <a href="mailto:olyanamushe@oakland.edu">
                <i class="fas fa-envelope-open" ></i>
            </a>
            <a href="http://www.instagram.com/olyanam00">
                <i class="fab fa-instagram"></i></a>
            &copy; 2021, Olyana Mushe <br>
        </footer>
    
</body>
</html>