<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Recipes</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
    <script src="https://kit.fontawesome.com/27373de14f.js" crossorigin="anonymous"></script>"
    
</head>
<body>
    <header>
        <h1>Healthy Recipes</h1>
        <nav>
            <span>
                <a href="/">HomePage</a>
                <a href="../workouts">Workouts</a>
                <a href="../calender">Calender</a>
            </span>
        </nav>

    </header>
    <summary class="meals">Baked Chicken Breast
        <details class="recipe">
            <ul>
                <li>Boneless skinless chicken breasts</li>
                <li>Smoked paprika</li>
                <li>Dried oregano</li>
                <li>Garlic powder</li>
                <li>Salt</li>
                <li>Pepper</li>
                <li>Olive Oil</li>
            </ul>
        </details> <br>
    </summary>
    <summary class="meals">Thai Broiled Salmon
        <details class="recipe">
            <ul>
                <li>Salmon Fillets</li>
                <li>Thai sweet chilli sauce</li>
                <li>Salt</li>
                <li>Green onions</li>
            </ul>
        </details> <br>
    </summary>
    <summary class="meals">Stuffed white sweet potatoes
        <details class="recipe">
            <ul>
                <li>Chicken</li>
                <li>Broccoli</li>
                <li>Sweet potatoes</li>
                <li>Low-fat mozzarela</li>
            </ul>
        </details><br>
    </summary>
    <summary class="meals">Pasta Salad
        <details class="recipe">
            <ul>
                <li>Whole wheat pasta</li>
                <li>Fresh arugula</li>
                <li>Mozzarella</li>
                <li>Roasted red pepers </li>
                <li>Basil pesto</li>
            </ul>
        </details><br>
    </summary>
    <summary class="meals">Black Bean Soup
        <details class="recipe">
            <ul>
                <li>Black beans</li>
                <li>Salsa</li>
                <li>Fresh cilnatro</li>
                <li>Cumin</li>
                <li>Garlic clove</li>
            </ul>
        </details><br>
    </summary>

    <footer>
        <a href="mailto:olyanamushe@oakland.edu">
            <i class="fas fa-envelope-open"></i>
        </a>
        <a href="http://www.instagram.com/olyanam00">
            <i class="fab fa-instagram"></i></a>
        &copy; 2021, Olyana Mushe <br>
    </footer>
  
</body>
</html>