<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workouts</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
    <script src="https://kit.fontawesome.com/27373de14f.js" crossorigin="anonymous"></script>"

</head>
<body>
    <header>
        <h1>Workouts</h1>
        <nav>
            <span>
                <a href="/">HomePage</a>
                <a href="../recipes">Recipes</a>
                <a href="../calender">Calender</a>
            </span>
        </nav>

        <main>
            <ul>
                <li>Jumping Jacks
                    <br>
                    <img src="../public/jumpingjacks.jpg"alt="picture of workout" width="55%">
                </li>
                <li>Push Ups
                    <br>
                    <img src="../public/pushups.jpg"alt="picture of workout" width="55%">
                </li>
                <li>Squats
                    <br>
                    <img src="../public/squats.jpg"alt="picture of workout" width="55%">
                </li>
                <li>Sit Ups
                    <br>
                    <img src="../public/situps.jpg"alt="picture of workout" width="55%">
                </li>
                <li>Lunges
                    <br>
                    <img src="../public/lunges.jpg"alt="picture of workout" width="55%">
                </li>
                <li>Burpees
                    <br>
                    <img src="../public/burpees.jpg"alt="picture of workout" width="55%">
                    <br>
                </li>
            </ul>
        </main>

        <br>
        <br>
        <br>

    


        <footer>
            <a href="mailto:olyanamushe@oakland.edu">
                <i class="fas fa-envelope-open"></i>
            </a>
            <a href="http://www.instagram.com/olyanam00">
                <i class="fab fa-instagram"></i></a>
            &copy; 2021, Olyana Mushe <br>
        </footer>
      
</body>
</html>